MODEL_API_KEY=d53a0bb3e06a48ef8f6dec7dd6ff9628.XWQKfNoU72GbfLha
MODEL_BASE_URL=https://api.z.ai/api/paas/v4/
MODEL_THINKING_TYPE=enabled
YOUTUBE_API_KEY=your_youtube_api_key_here
MODEL_NAME=glm-4.5-air
